<div class="container mt-4">
  <h1><%= @cocktail.name %></h1>

  <h3>Ingredients</h3>
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.description %> <%= dose.ingredient.name %></p>
      <%= link_to "delete ingredient", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>
    <% end %>

    <%= link_to "+add ingredient", new_cocktail_dose_path(@cocktail) %>
    <br>

</div>
